@font-face {
	font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}
/*
@font-face {
	font-family: Roboto;
	font-weight: bold;
    src: url("Roboto-Bold.ttf");
}

@font-face {
	font-family: Roboto;
	font-weight: light;
    src: url("Roboto-Light.ttf");
}

@font-face {
	font-family: Roboto;
	font-weight: thin;
    src: url("Roboto-Thin.ttf");
}*/
